### Oops 
    Class

In [2]:
class Student:   ## Student is a class  class is keyword
    pass

In [ ]:
class Bank:
    name = "ritik"
    age = 20
    address = "delhi"
    pincode = 110001
    mobile = 9999999999
    balance = 10000
bank_obj =Bank()   # object

In [5]:
print("bank name:-",bank_obj.name) 
print("bank age:-",bank_obj.age)
print("bank address:-",bank_obj.address)
print("bank pincode:-",bank_obj.pincode)
print("bank mobile:-",bank_obj.mobile)
print("bank balance:-",bank_obj.balance)

bank name:- ritik
bank age:- 20
bank address:- delhi
bank pincode:- 110001
bank mobile:- 9999999999
bank balance:- 10000

In [21]:
class Bank:
    name = "ritik"
    age = 20
    address = "delhi"
    pincode = 110001
    mobile = 9999999999
    balance = 10000
    def  show_info(self):
        print(self.name )
        print(self.address)
        print(self.pincode)
        print(self.balance) 
        print(self.mobile)
        # print(name , address, pincode, balance, mobile)
bank_obj=Bank()

In [ ]:
# bank_obj.name, bank_obj.address, bank_obj.pincode,  bank_obj.balance

bank_obj.show_info()

bank_obj.show_info()

ritik
delhi
110001
10000
9999999999
ritik
delhi
110001
10000
9999999999

#### Constructor

In [24]:
class Bank:
    def __init__(self): 
        pass 
bank_obj=Bank()

In [46]:
class Bank:
    mera_name = "ritik"  # class variable
    def __init__(self): # constructor and self is a keyword
        self.name = "ritik"  # instance variable
        self.address = "delhi"
        self.pincode = 110001
        self.balance = 10000


    def show_info(self):
        print(self.name)
        print(self.address)
        print(self.pincode)
        print(self.balance)
        
bank_obj=Bank()
bank_obj.show_info()

ritik
delhi
110001
10000

In [30]:
# print(bank_obj.mera_name)
print(bank_obj.name)
print(bank_obj.address)
print(bank_obj.pincode)
print(bank_obj.balance)

ritik
delhi
110001
10000

In [38]:
class Bank:
    def __init__(self, name,address, balance, pincode ):
        self.name = name 
        self.address = address
        self.pincode = pincode
        self.balance = balance


obj_bank1=Bank(name="ritik", address="delhi", balance=10000, pincode=110001)

In [39]:
obj_bank1.balance

10000

In [40]:
obj_bank1.name

'ritik'

In [ ]:
obj_bank1.address

'delhi'

In [42]:
kapil_bank=Bank(name="kapil", address="alwar", balance=100000, pincode=20001)
ritik_bank=Bank(name="ritik", address="delhi", balance=10000, pincode=110001)

In [43]:
kapil_bank.balance, kapil_bank.name, kapil_bank.address, kapil_bank.pincode

(100000, 'kapil', 'alwar', 20001)

In [44]:
ritik_bank.balance, ritik_bank.name, ritik_bank.address, ritik_bank.pincode

(10000, 'ritik', 'delhi', 110001)