#### Looping in python
        for loop 
        while loop in python 


         For Loop

In [2]:
lst = [1,2,3,5,2,5]
for x in lst:
    print(x)

1
2
3
5
2
5

In [4]:
tpl = (1,2,2,5,52,58,5)
for item in tpl:
    print(item)

1
2
2
5
52
58
5

In [5]:
# range(10)

for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for x in range(1 , 10): # 1 to 9 1 starting point and 10 ending point 
    print(x)

1
2
3
4
5
6
7
8
9

In [ ]:
for x in range(2 , 22 , 2  ): # 1 to 9 1 starting point and 10 ending point  and 2 is step
    print(x)

2
4
6
8
10
12
14
16
18
20

In [9]:
for x in range(10, 0, -1):
    print(x)

10
9
8
7
6
5
4
3
2
1

####  Break , continue and else

In [12]:
# break example 
for x in range(10):
    if x == 5:
        break
    print(x)

0
1
2
3
4

In [14]:
# continue example
for x in range(10):
    if x==5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9

In [16]:
# else example
for x in range(10):
    print(x)
else:
    print("loop is Done")

0
1
2
3
4
5
6
7
8
9
loop is Done

##### while loop in python

In [17]:
x= 0 
while x <10:
    print(x)
    x+=1

0
1
2
3
4
5
6
7
8
9

In [19]:
my_dict = {
    "name" : "ritik",
    "last_name" : "kmt",
    "age" : 20
}

for item in my_dict.items():
    print(item)

('name', 'ritik')
('last_name', 'kmt')
('age', 20)

In [20]:
my_dict = {
    "name" : "ritik",
    "last_name" : "kmt",
    "age" : 20
}

for item in my_dict.keys():
    print(item)

name
last_name
age

In [21]:
my_dict = {
    "name" : "ritik",
    "last_name" : "kmt",
    "age" : 20
}

for item in my_dict.values():
    print(item)

ritik
kmt
20